<%- include('header') -%>

<h2>this about page</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi maxime ut
  minus eos quibusdam voluptatum omnis ex dolore vero! Est, aliquam cupiditate
  dicta aliquid autem itaque fugit enim cum ad vero molestias velit modi magni
  ab officiis ullam eum dignissimos!
</p>
<%- include ("nav") %> <%- include('footer') -%>
